<?xml version="1.0"?>
<configuration>
    <location path="registerUser.aspx">
      <system.web>
        <authorization>
          <allow users="*" />        
        </authorization>
      </system.web>
    </location>

    <location path="cantLogin.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>

    <location path="resetUserPassword.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>
  
    <location path="confirmUserEmailRegistration.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>

    <location path="updateUserProfile.aspx">
      <system.web>
        <authorization>
          <deny users="?" />
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
  
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
</configuration>